*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-bg:  #343541;
    --text-color: #ffffff;
    --icon-color:#ACACBE;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #cccccc;
    --user-chatBox-bg: #343541;
    --user-chatBox-border: #343541;
    --ai-chatBox-bg: #444654;
    --ai-chatBox-border: #444654;
}
body{
    background-color: var(--user-chatBox-bg);
    color: var(--text-color);
}
.default-chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat-details {
    max-height: 100vh;
    padding-bottom: 150px;
    overflow-y: auto;
}
.light-mode{
    --body-bg: #ffffff;
    --text-color: #343541;
    --icon-color:#a2a9bc;
    --icon-hover-bg: #f1f1f3;
    --placeholder-color: #9f9f9f;
    --user-chatBox-bg: #ffffff;
    --ai-chatBox-bg: #f7f7f8;
    --user-chatBox-border: #ffffff;
    --ai-chatBox-border: #d9d9e3;
}
.user-chatBox {
    display: flex;
    flex-direction: row;
    padding:  10px 0;
    background: var(--user-chatBox-bg);
    border: 1px  solid var(--user-chatBox-border);
    align-items: center;
    padding-left: 20px;
}
.user-chatBox img {
    border-radius: 3px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.user-chatDetails {
    padding-left: 10px ;
    justify-content: center;
    align-items: center;
}
.ai-chatBox {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    background: var(--ai-chatBox-bg);
    border: 1px solid var(--ai-chatBox-border);
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
}
.ai-chatBox img{
    border-radius: 3px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
#loading{
    padding-left: 10px;
    color: var(--icon-color);
    display: inline-flex;
}
.ai-chatDetails p{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    float: left;
    padding: 0 10px;
}
.ai-chatDetails i{
    position: fixed;
    right: 0;
    cursor: pointer;
    visibility: hidden;
}
.ai-chatBox:hover .ai-chatDetails i{
    visibility: visible;
}
.typing-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--ai-chatBox-border);
    display: flex;
    justify-content: center;
}
.typing-content{
    max-width: 950px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.text-area{
    width: 100%;
    display: flex;
    position: relative;
}
:where(.typing-container textarea , .chat-details)::-webkit-scrollbar{
    width: 6px;
}
:where(.typing-container textarea , .chat-details)::-webkit-scrollbar-track{
    background: var(--ai-chatBox-bg);
    border-radius: 25px;
}
:where(.typing-container textarea , .chat-details)::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
}
.incoming-text{
    width: 100%;
    background: var(--user-chatBox-bg);
    color: var(--text-color);
    resize: none;
    font-size: 1rem;
    outline: 1px solid var(--ai-chatBox-bg);
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    padding: 15px 45px 15px 20px;
    height: 55px;
    transition: height .3s;
}
.incoming-text:not(:placeholder-shown){
    height: auto;
}
.incoming-text::placeholder{
    color: var(--placeholder-color);
}
.text-area span{
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
}
.text-area textarea:valid ~ span{
    visibility: visible;
}
.typing-content span{
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}
.text-controls{
    display: flex;
}
.text-controls span{
    background: var(--ai-chatBox-bg);
    margin-left: 7px;
    font-size: 1.4rem;
    border: var(--ai-chatBox-border);
    border-radius: 4px;
}
span.material-symbols-outlined{
    cursor: pointer;
}