body{
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background: var(--body-bg);
    font-size: 1.1rem;
}
:root{
    --body-bg:  #343541;
    --text-color: #ffffff;
    --icon-color:#ACACBE;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #cccccc;
    --user-chatBox-bg: #343541;
    --user-chatBox-border: #343541;
    --ai-chatBox-bg: #444654;
    --ai-chatBox-border: #444654;
}
.light-mode{
    --body-bg: #ffffff;
    --text-color: #343541;
    --icon-color:#a2a9bc;
    --icon-hover-bg: #f1f1f3;
    --placeholder-color: #9f9f9f;
    --user-chatBox-bg: #ffffff;
    --ai-chatBox-bg: #f7f7f8;
    --user-chatBox-border: #ffffff;
    --ai-chatBox-border: #d9d9e3;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--body-bg);
    border: 1px solid var(--ai-chatBox-border);
    position: sticky;
    top: 0;
}
button{
    background: var(--body-bg);
    color: var(--text-color);
    width: auto;
    height: auto;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 30px;
}
.user-chatBox {
    display: flex;
    flex-direction: row;
    padding:  10px 0;
    background: var(--user-chatBox-bg);
    border: var(--user-chatBox-border);
    align-items: center;
}
.user-chatBox img{
    padding-left: 30px;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.user-chatDetails {
    padding-left: 10px;

    justify-content: center;
    align-items: center;
}
.ai-chatBox{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    background: var(--ai-chatBox-bg);
    border: var(--ai-chatBox-border);
    align-items: center;
}
.ai-chatBox img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    padding-left: 30px;
}
#loading{
    padding-left: 10px;
    color: var(--icon-color);
    display: inline-flex;
}
.ai-chatDetails p{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    float: left;
    padding: 0 10px;
}
.ai-chatDetails i{
    position: fixed;
    right: 0;
    cursor: pointer;
    visibility: hidden;
}
.ai-chatBox:hover .ai-chatDetails i{
    visibility: visible;
}
.typing-container{
    position: fixed;
    bottom: 0;
    padding: 20px 10px;
    border: 1px solid var(--ai-chatBox-bg);
}